<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <div class="aboutUs">
        <h2>About us</h2>

        <p><big><I>&emsp;&emsp;This is an grocery store located at Udhindhunga, Resunga Municipality, Gulmi
                    (Tamghas). Items that are rarely found in the town are available here.
                    This store provides services and products to retail customers as well as wholesale customers.
                    Providing the best and quality items, this store has been satisfing it's customers from more than 20
                    years.
                    It has become the number one choice of the people from years.
                </I></big></p>
        <br>
        <b><U>
                <h3></h3>Contact Us</h3>
            </U>
            <p>Phone: 079-520496</p>
            <p>Mobile: +977-9857072640 &emsp14; +977-9847072640</p>
            <p>&emsp;&emsp;&emsp;&emsp13; +977-9867395380</p>
            <p>Email:&emsp;bigyanandbikramstores@gmail.com</p>
        </b>
    </div>
</body>

</html>