<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigyan-Bikram Stores</title>
    <link rel="shortcut icon" href="../img/store.ico">
</head>


<div class="flexbox">
    <div class="logo"><a href="/"><img src="../img/png.png" alt="Logo of BnB Stores" width="150px"></a></div>
        <button type="button" class="items"><a href="/">HOME</a></button>
        <button type="button" class="items"><a href="/aboutus">ABOUT US</a></button>
        <button type="button" class="items"><a href="/contact">CONTACT US</a></button>



</div>
<body>
    <main>
        <div><img src="../img/2nd-bgi.png" alt="Image" class="bgImage"width="700px" ></div>


        <section class="wholeSection">
            <form class="wholeForm">
                <div class="form-group">
                    <label for="username"><input type="text" placeholder="Email or Phone Number" id="username"
                            class="info">
                    </label>
                </div>

                <div class="form-group">
                    <label for="Password"><input type="password" placeholder="Password" id="Password" class="info">
                    </label>
                </div>

                <div class="form-group">
                    <small class="errorMessage">Invalid Username or Password</small>
                </div>

                <div class="form-group">
                    <center><button type="submit" class="login">Log In</button></center>
                </div>

                <div class="form-group">
                    <small class="forgot-message"><a href="" class="forgot-message"><center>Forgot Password?</small></center></a>
                </div>
                <div class="form-group">
                       <center> <button type="button"><a href="/signup" class="sign-up">Create New Account</a></button></center>
                    </div>
                </div>
            </form>

        </section>
    </main>

</body>
</html>