<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="shortcut icon" href="../img/store.ico">
</head>

<body>
    <form id="signup_form" onSubmit="formSubmit(); return false;">
        <h2 class="title"><u><center>MEMBERSHIP FORM</center></u></h2>
        <div class="signup">

            <form action="#" method="POST">
                <p>Full Name:</p>
                <input type="text" placeholder="Eg: Elon Prasad Musk" name="name" class="First-name">
                <p>Address:</p>
                <input type="text" placeholder="Eg: Resunga Municipality, 1, Gulmi" name="address" class="Address"></p>
                <p>Username:</p>
                <input type="text" placeholder="Eg: Elon123" name="username" class="username">
                <p>Password:</p>
                <input type="text" placeholder="Minimum 8 Characters" name="password" class="password">
                <p>Email:</p>
                <input type="text" placeholder="Example@gmail.com " name="email" class="Email">
                <p>Contact Number:</p>
                <input type="text" name="phone" placeholder="+977-XXXXXXXXXX"><br>

                <center><button type="submit" class="Register" onsubmit="formSubmit()">Register</button></center>
            </form>

            <div id="msg2"></div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script type="text/javascript">
                function formSubmit(){
                    //Check for function trigger
                    console.log("I am submitted");
                    const signup_form = document.getElementById("signup_form");
                    // Capture input from the form
                    const payload = {
                        name:  document.querySelector('.name').value,
                       
                        adress: document.querySelector("address").value,
                        username: document.querySelector("username").value,
                        password: document.querySelector("password").value,
                        email: document.querySelector("email").value,
                        phone: document.querySelector("phone").value,
                    };
                    // Send data to server
                    axios.post("/api/v1/form2", payload).then((res) =>{
                        // Display the data
                        document.getElementById("msg2").innerHTML = res.data.msg;
                        //reset the form after success
                        contactForm.reset();
                    });
                }

            </script>

        </div>



        <style>
            /* .form {
                background-color: rgb(248, 222, 192);
            } */



            body {
                /* margin: 0%; */
                /* padding: 0%; */
                background: url("/img/bgi.jpg") no-repeat;
                /* background: linear-gradient(#274060, #1B2845) no-repeat; */
                /* background-size: cover; */
                font-family: sans-serif;
            }

            .signup {
                background: fixed;
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 400px;
                /* margin: 50px;*/

            }

            .title
            {
                margin-bottom: 50px;
                animation-name: title;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }

            @keyframes title
            {
                from{
                    letter-spacing: 30px;
                    text-decoration: none;
                }

                to{
                    letter-spacing: 0.1em;
                    text-decoration: dotted;
                    /* letter-spacing: normal; */
                }
            }

            /* .signup h2 {
                font-size: 30px;
                text-align: center;
                text-transform: uppercase;
                margin: 40px 0;
            } */

            .signup p {
                font-size: 20px;
                margin: 10px 0;
            }

            .signup input {
                font-size: 16px;
                padding: 15px 10px;
                width: 100%;
                border: 0%;
                border-radius: 5px;
                outline: none;
            }

            .signup button {
                font-size: 18px;
                font-weight: bold;
                margin: 20px;
                padding: 10px 15px;
                width: 50%;
                border: 0;
                border-radius: 5px;
                background: linear-gradient(#274060, #1B2845);
                color: #fff;
            }

            .signup button:hover {
                color: orange;
            }
        </style>
    </main>
</body>

</html>